@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --primary-color: #c2410c;
  --secondary-color: #f97316;
  --off-white: #fff7ed;
  --dark-gray: #57534e;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px auto;
  max-width: 30%;
  width: 100%;
  /* min-width: 400px; */
}

/** navbar **/
.heading {
  text-align: left;
  background-color: var(--primary-color);
  color: var(--off-white);
  padding: 1rem;
  margin: 1rem -1rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 var(--dark-gray), 0 6px 20px 0 var(--dark-gray);
}


.description {
  background-color: var(--off-white);
  display: block;
  margin: 0rem -1rem;
  padding: 1rem;
  /* padding-top: 1.5rem; */
}

/** footers **/

.footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--off-white);
  padding: 1rem;
  margin: 1rem -1rem;
  width: 100%;
  border-radius: 0.5rem;
}

.footer .link {
  color: var(--off-white);
  text-decoration: none;
  cursor: pointer;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer .list-item-inline {
  display: inline;
  padding: 1rem;
}

ul {
  padding-inline-start: 0px;
}

/* container */

.container {
  display: block;
  width: 100%;
  background-color: var(--off-white);
  padding: 0 1rem;
  margin: 0 -1rem;
  text-align: center;
}

label,
input {
  display: block;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem 0;
  font-size: large;
  font-weight: bold;
}

#btn-profitnloss {
  background-color: var(--primary-color);
  color: var(--off-white);
  padding: 0.5rem 1rem;
  border: none;
  margin: 2% 5%;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 var(--dark-gray);
}